Node-red flow SEM Three to LoRaWAN TTN v2 with Dragino RS485-LN.txt
[{"id":"48d9a347.a31dfc","type":"mqtt in","z":"b6202d14.e9f2","name":"","topic":"dragino_rs485_lr/devices/87654321/up","qos":"2","datatype":"auto","broker":"64d7b729.fc2578","x":210,"y":120,"wires":[["8e56018c.fd1a6","2064ea74.591b96"]]},{"id":"8e56018c.fd1a6","type":"function","z":"b6202d14.e9f2","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["3920ea00.252fb6","30210262.4a2dee","dc10cc95.f2999","e3e62d54.01d06","20f8cf2f.fc01"]]},{"id":"3920ea00.252fb6","type":"function","z":"b6202d14.e9f2","name":"current_phase1_Amperes","func":"var a = msg.payload;\nmsg.payload=a.current_phase1_Amperes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":120,"wires":[["295fe873.0ab0a8","9adb9d07.b01ba","9e0090d6.9eaa"]]},{"id":"20f8cf2f.fc01","type":"function","z":"b6202d14.e9f2","name":"JSON pairs","func":"var current_phase1_Amperes = flow.get('current1');\nvar power_phase1_watts = flow.get('power1');\nvar energy_phase1_KWh = flow.get('energy1');\n\nreturn {payload:{current_phase1_Amperes:current_phase1_Amperes,\npower_phase1_watts:power_phase1_watts,\nenergy_phase1_KWh:energy_phase1_KWh\n\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":700,"wires":[["3bb1a76f.53dc08","43e6f3e7.bbf52c"]]},{"id":"2064ea74.591b96","type":"debug","z":"b6202d14.e9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"30210262.4a2dee","type":"debug","z":"b6202d14.e9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":60,"wires":[]},{"id":"295fe873.0ab0a8","type":"debug","z":"b6202d14.e9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":120,"wires":[]},{"id":"9adb9d07.b01ba","type":"mqtt out","z":"b6202d14.e9f2","name":"","topic":"current_phase1","qos":"","retain":"","broker":"1a75d68f.2edf19","x":1040,"y":200,"wires":[]},{"id":"e72148a9.63a728","type":"inject","z":"b6202d14.e9f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":810,"y":240,"wires":[["9adb9d07.b01ba"]]},{"id":"dc10cc95.f2999","type":"function","z":"b6202d14.e9f2","name":"power_phase1_watts","func":"var a = msg.payload;\nmsg.payload=a.power_phase1_watts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":320,"wires":[["7d4893be.618bac","74a9fced.376be4","3604bb17.bd0c44"]]},{"id":"7d4893be.618bac","type":"debug","z":"b6202d14.e9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":320,"wires":[]},{"id":"74a9fced.376be4","type":"mqtt out","z":"b6202d14.e9f2","name":"","topic":"power_phase1","qos":"","retain":"","broker":"1a75d68f.2edf19","x":1040,"y":400,"wires":[]},{"id":"ee1c5bd0.0c4488","type":"inject","z":"b6202d14.e9f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":810,"y":440,"wires":[["74a9fced.376be4"]]},{"id":"e3e62d54.01d06","type":"function","z":"b6202d14.e9f2","name":"energy_phase1_KWh","func":"var a = msg.payload;\nmsg.payload=a.energy_phase1_KWh;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["6bcc0b82.25d664","d2f885e3.d98298","400a41b7.c27f6"]]},{"id":"6bcc0b82.25d664","type":"debug","z":"b6202d14.e9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":520,"wires":[]},{"id":"d2f885e3.d98298","type":"mqtt out","z":"b6202d14.e9f2","name":"","topic":"energy_phase1","qos":"","retain":"","broker":"1a75d68f.2edf19","x":1040,"y":600,"wires":[]},{"id":"4af11de8.40ad34","type":"inject","z":"b6202d14.e9f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":810,"y":640,"wires":[["d2f885e3.d98298"]]},{"id":"9e0090d6.9eaa","type":"change","z":"b6202d14.e9f2","name":"","rules":[{"t":"set","p":"current1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":60,"wires":[[]]},{"id":"3604bb17.bd0c44","type":"change","z":"b6202d14.e9f2","name":"","rules":[{"t":"set","p":"power1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":280,"wires":[[]]},{"id":"400a41b7.c27f6","type":"change","z":"b6202d14.e9f2","name":"","rules":[{"t":"set","p":"energy1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":480,"wires":[[]]},{"id":"3bb1a76f.53dc08","type":"debug","z":"b6202d14.e9f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":700,"wires":[]},{"id":"43e6f3e7.bbf52c","type":"influxdb out","z":"b6202d14.e9f2","influxdb":"e3bf80de.26fa5","name":"","measurement":"energies","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":760,"wires":[]},{"id":"64d7b729.fc2578","type":"mqtt-broker","z":"b6202d14.e9f2","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1a75d68f.2edf19","type":"mqtt-broker","z":"b6202d14.e9f2","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3bf80de.26fa5","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PORT","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]